<p id="notice"><%= notice %></p>

<h1>ゲーセンマップ</h1>
<!-- 
<table>
  <thead>
    <tr>
      <th>店名</th>
      <th>住所</th>
      <th>緯度</th>
      <th>経度</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td><%= place.description %></td>
        <td><%= place.latitude %></td>
        <td><%= place.longitude %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%#= link_to 'New Place', new_place_path %>
-->

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 600px;'></div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
